* {
    font-family: "Karma", sans-serif;
}

html, body {
    font-size: 15px;
    line-height: 1.5;
}

.center{
    text-align: center;
    font-size: 25px;
}

.main{
    margin-left: 20px;
    margin-right: 20px;
}

.row {
    width: 100%;
    display: flex;
}

.item{
    float: left;
    width: 24%;
    padding: 0.5% 0.5% 0.5% 0.5%;
}

.item img{
    width: 100%;
}

.item h3, p {
    text-align: center;
}

.about{
    text-align: center;
}

.third{
    width: 32%;
    float: left;
    margin: 0.5%;
}

.third p{
    text-align: left;
}
